* {
    margin: 0;
    padding: 0;
}

/*! nave bar start */

.navebar {
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* logo nave bar */
.logo {
    display: flex;
    flex-direction: column;
}

.logo .underline {
    width: 25px;
    height: 6px;
    background-color: red;
    margin-left: 33%;


}

.logo p {
    height: 24.5px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: rgba(16, 16, 121, 0.822);
}

/* links nave bar */
.links {
    width: 35vw;
    display: flex;
    justify-content: space-between;
}

.links a {
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 720;
    color: rgba(16, 16, 121, 0.822);

}

.links .home {
    color: red;
}

.links a:hover {
    color: rgb(59, 5, 255);
    cursor: pointer;
}

/* button nave bar */

.button {
    border: none;
    background-color: white;
    padding: 16px 40px 16px 40px;
    border-radius: 5px;
    box-shadow: 2px 3px 3px #d8d4d4;
    color: red;
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 720;
}

.button:hover {
    background-color: antiquewhite;
}

.button:active {
    color: rgba(16, 16, 121, 0.822);
}

/*! nav bar end */

/* ? section 1 start */

.section1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-left: 5%;
}

/* the title and paragraph */

.title-and-text {
    width: 36vw;
}

.title-and-text h1 {
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 720;
    color: rgba(16, 16, 121, 0.822);
}

.title-and-text p {
    font-family: sans-serif;
    color: gray;
    margin-top: 15px;
}

/* two button under the text and paragraph */
.two-button {
    width: 50vw;
    height: 100px;
    margin-top: 30px;
}

/* button 1 (more about us) */
.two-button .button1 {
    border: none;
    background-color: rgb(255, 0, 0);
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 720;
}

.two-button .button1:hover {

    cursor: pointer;
    box-shadow: 1px 1px 20px gray;

}

.two-button .button1:hover {
    background-color: brown;
}

.two-button .button1:active {
    color: blueviolet;

}

/* button 2 (get in touch) */
.two-button .button2 {
    border: none;
    background-color: white;
    padding: 12px 30px 12px 30px;
    border-radius: 50px;
    margin-left: 40px;
    color: rgba(16, 16, 121, 0.822);
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 720;
}

.two-button .button2:hover {
    background-color: antiquewhite;
}

.two-button .button2:active {
    color: blueviolet;
}

/* ? section 1 end */
/* *section 2 start */
.sec-2-parent {
    display: flex;
    justify-content: space-between;
    width: 89vw;
    height: 50vh;
    margin-left: 5%;
}

.child-1-sec-2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px black;


}

.first-title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #314686;
    margin-bottom: 10%;

}

.second-button {
    border-radius: 20px;
    background-color: rgb(255, 0, 0);
    width: 150px;
    height: 40px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: small;
    letter-spacing: 2px;
    font-weight: 720;
    border: none;
}

.second-button:hover {
    cursor: pointer;
    box-shadow: 1px 1px 20px gray;
}

.child-2-sec-2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px black;


}

.child-2-icon-1 {
    font-size: 55px;
}

.second-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #314686;
    margin-top: 10px;
    margin-bottom: 10px;
}



.child-3-sec-2 {
    display: flex;
    flex-direction: column;
    width: 25%;
    border: 1px black;


}

.child-3-icon-2 {
    font-size: 50px;
}

.third-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: #314686;
    margin-top: 10px;
    margin-bottom: 10px;

}

/* *section 2 end */
/* last section */
.sect3-title {
    color: red;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.Touch {
    margin-bottom: 5vh;
    color: rgba(49,69,132,255);
    font-size: 50px;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;

}
.form {
    margin-left: 100px;
    font-family: 'Gill Sans', 'Trebuchet MS';
}
.email-area {
    width: 38vw;
    height: 25px;
    background-color: aliceblue;
    border: none;
    border-radius: 50px;
}
.subject-area{
    width: 38vw;
    height: 25px;
    background-color: aliceblue;
    border: none;  
    border-radius: 50px;
}
.area{
    width: 78vw;
    background-color: aliceblue;
    border: none;
    border-radius: 50px;
}
.but_pos {
    display: flex;
    justify-content: center;
}
button {
    width: 200px;
    padding: 15px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
    background-color:rgba(255,57,70,255);
    color: white;
    border: none;
}
button:hover {
    background-color: grey;
}
/* last section */

/* Footer */
.D-footer {
    height: 260px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(49,69,132,255);
}
.ABOVE {
    margin-bottom: 3vh;
    color: rgb(233, 37, 37);
    font-size: 45px;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.D-footer ul li {
    list-style: none;
    display: inline-block;
    margin-bottom: 40px;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.dope{
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    color: white;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.D-footer a {
    text-decoration: none;
    padding: 15px;
    margin-top: 20px;
    color: white;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.D-lien {
    margin-bottom: 15px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    height: 10vh;
    gap: 10px;
    justify-content: space-evenly;
    color: white;
    font-family: 'Gill Sans', 'Trebuchet MS', sans-serif;
}
.icon-foot{
    font-size: 25px;
}
footer ul{
    font-weight: bold;
}
/* Footer
